body{
    background-color: lightgray;
}
h1{
    color: darkgrey;
    font-size: 50px;
    padding: 10px;
    margin: 5px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
main >form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border: groove 1em ;
    border-radius: 2em;
    width: 350px;
    background-color: darkgray;
}
main >form >*{
    padding: 10px;
    margin: 15px;
    width: 300px;
}
input:hover{
    box-shadow: 0 0 15px 10px lightgrey;
}
header{
    width: 100%;
    display: flex;
    align-content: center;
}
nav{
    background-color: darkgray;
    border: 2px solid black;
    border: groove 1em ;
    border-radius: 2em;
    width:  90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    padding: 20px;
}

.mensajesError{
    color: red;
    font-size: 15px;
    position: absolute;
    top: 200px;
    left: 20px;
    border: 9px outset #A40000;
    border-radius: 40px;
    padding: 15px;
}
.mensajesOk{
    color: green;
    font-size: 15px;
    position: absolute;
    top: 400px;
    left: 20px;
    border: 9px outset greenyellow;
    border-radius: 40px;
    padding: 15px;
}
.inputCorrecto{
    border-color: green;
}
.inputError{
    border-color: red;
}
.conjuntoInputBoton{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 15px;
}
.conjuntoInputBoton >input{
    width: 80%;
}

.conjuntoInputBoton >button{
    width: 20%;
}
.fotoUsuario{
    height: 150px;
}
a{
    text-decoration: none;
    color: lightgray;

}
a:hover{
    color: white;
}
table{
    background-color: darkgray;
    border: 2px solid black;
    border: groove 1em ;
    border-radius: 2em;
    padding: 30px;  
    width: 80%;  
}
tr{
    padding-top: 10px;
}
th button{
    display: flex;
   align-items: center;
}
th input{
    width: 98%;
}

th select{
    width: 98%;
}
.formProfile input , .formProfile select{
 width: 90%;
}